[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "*"
imageio = "*"
matplotlib = "*"
colorama = "*"
golomb-coding = "*"
minimal-binary-coding = "*"
unary-coding = "*"

[requires]
python_version = "3.7"
